:root {
	font-size: 17px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

* {
	box-sizing: border-box;
}

$font-primary: #163950;
$sudbury-green-btn-shadow: rgba(119, 187, 177, 0.5);
$not-white: #f5f5f5;
$navy: #22577a;
$newton-blue: #567d9f;
$newton-blue-light: #7ba5c9;
$sudbury-green-dark: #568a82;
$sudbury-green-light: rgba(119, 187, 177, 1);
$header-height: auto;

html {
	width: 100vw;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	justify-content: center;
	color: $font-primary;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: inherit;
}

main {
	display: grid;
	grid-template-areas:
		"about"
		"projects"
		"blogs"
		"contact";
	padding: 3%;
	margin: 1%;
	justify-content: center;
	justify-self: center;
	overflow: hidden;

	.hidden {
		display: none !important;
		transition: display 3000ms;
		transition-timing-function: ease-in-out;
	}

	.visible {
		display: flex;
		transition: display 3000ms;
		transition-timing-function: ease-in-out;
	}

	.sectionDescription {
		width: 90%;
		max-width: 500px;
		margin: 1rem auto;
		text-align: center;
		background-color: $not-white;
		color: $navy;
		border-radius: 0.5rem;
		padding: 0.5rem;
		font-size: 1.1rem;
	}

	span.headingLink {
		color: $sudbury-green-dark;
		font-weight: 500;
	}

	h2.sectionHeading {
		color: $newton-blue;
		font-size: 1.5rem;
		margin: 1rem auto;
		text-align: center;
	}

	p.techStack {
		color: $sudbury-green-dark;
		font-style: italic;
	}

	i#scrollArrow {
		position: fixed;
		bottom: 5px;
		right: 1px;
		color: $sudbury-green-dark;
		font-size: 0.8rem;
	}

	hr.gray {
		align-self: center;
		width: 50vw;
		border-top: 1px dashed #e5e5e5;
		margin: 1rem auto;
	}

	hr.green {
		align-self: center;
		width: 80vw;
		border-top: 1px dashed $sudbury-green-btn-shadow;
		margin: 1rem auto;
	}

	article#aboutContainer {
		grid-area: about;
		display: flex;
		flex-direction: column;
		line-height: 1.25rem;
		width: 100%;

		h1 {
			font-size: 1.75rem;
			line-height: 2rem;
			color: $navy;
		}

		h2 {
			font-size: 1.35rem;
			margin-bottom: 1em;
			line-height: 2rem;

		}

		h3 {
			color: $newton-blue;
			font-style: italic;
		}

		h4 {
			font-weight: normal;
			font-size: 1.25rem;
			grid-area: header;
			justify-self: center;
			font-style: normal;
			margin-bottom: 1rem;
			line-height: 1.5rem;
			color: $navy;
		}

		div#technologies {
			display: grid;
			grid-template-areas:
				"header header header header"
				"top top top top"
				"middle middle middle middle"
				"bottom bottom bottom bottom";
			align-self: center;
			justify-self: center;
			grid-gap: 0.1rem;
			width: 100%;

			h3 {
				font-size: 1.25rem;
				grid-area: header;
				justify-self: center;
				font-style: normal;
				margin-bottom: 1rem;
			}

			img {
				width: 1.2rem;
			}

			svg {
				width: 1.3rem;
				height: 1.3rem;
			}

			i {
				font-size: 1.19rem;
			}

			div.techLogo.js {
				grid-area: bottom;
				grid-column: 3;
			}

			div.techLogo.sass {
				grid-area: bottom;
				grid-column: 2;
			}

			div.techLogo.figma {
				grid-area: bottom;
				grid-column: 4;
			}

			div.techLogo.htmlCss {
				grid-area: bottom;
				grid-column: 1;
			}

			div {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				p {
					font-size: 16px;
					color: $sudbury-green-dark;
				}
			}
		}

		div.headshotContainer {
			display: flex;
			align-self: center;
			margin-bottom: 1rem;
			margin-top: 1rem;
			flex-direction: column;
			align-items: center;

			img {
				width: 100%;
				max-width: 300px;
				border-radius: 150%;
				justify-self: center;
			}
		}

		div#socialMediaIcons {
			align-self: center;
			display: flex;
			justify-content: space-evenly;
			padding: 10px;
			width: 200px;
			i {
				color: $newton-blue;
				font-size: 2rem;
			}
		}
	}

	article#projectsContainer {
		grid-area: projects;

		div.cardsContainer {
			display: flex;
			grid-row: 2;
			flex-wrap: wrap;
			justify-content: center;
		}

		#moreProjects {
			display: flex;
			justify-content: center;
			align-self: flex-end;
			grid-row: 3;
		}

		.projCategory {
			color: $newton-blue-light;
			width: fit-content; 
			border-radius: 0.25rem;
			padding: 0 0 0.2rem 0;
			margin: 0.25rem 0;
		}
	}



	article#blogsContainer {
		grid-area: blogs;
		display: grid;
		flex-direction: column;
		margin-bottom: 0.5rem;
		grid-gap: 0.5rem;

		a.blogPost {
			background-color: $not-white;
			width: 95%;
			align-self: center;
			display: flex;
			justify-content: space-between;
			padding: 0.5rem;
			align-items: center;
			font-size: 1.25rem;
			border-radius: 0.5rem;
			margin: 0.5rem auto;
		}

		p.blogTitle {
			color: $font-primary;
			margin: 0;
		}

		div.blogTag {
			width: fit-content;
			padding: 0.25rem;
			border-radius: 15%;
			font-size: 1rem;
			color: $not-white;
		}

		.crypto {
			background-color: $sudbury-green-light;
		}

		.code {
			background-color: $newton-blue;
		}
	}

	article#contactContainer {
		grid-area: contact;
		width: 100%;
		display: flex;
		flex-direction: column;

		h2 {
			align-self: center;
		}

		p {
			color: $navy;
			font-size: 1.25rem;
			text-align: center;
			font-style: italic;
			font-weight: bold;
			padding-top: 1rem;
			width: 80%;
			line-height: 2;
			margin: 0 auto;
		}

		form {
			background-color: $not-white;
			display: flex;
			flex-direction: column;
			padding: 1rem;
			line-height: 1.5rem;
			padding-top: 0;
			padding-bottom: 0;
			border-radius: 0.5rem;
			margin-top: 0;

			.form-group {
				margin: 0;
			}
		}

		label {
			color: $sudbury-green-dark;
			font-weight: bold;
			margin-top: 1rem;
		}

		button {
			align-self: center;
			margin: 1rem;
		}
	}
}

i.fas.fa-bars {
	color: $not-white;
	background-color: $newton-blue;
	padding: 0.5em;
	font-size: 1.5rem;
	border-radius: 5px;
	justify-self: flex-end;
	margin: 0.5em;
	height: fit-content;
}

div#headerLogoContainer {
	display: flex;
	align-items: center;
	display: flex;
	font-size: 1.5rem;
	padding: 0.5em 1em;
	color: $sudbury-green-light;

	p {
		margin: 0;
		font-weight: bold;
	}
}

div.card {
	color: $font-primary;
	background-color: $not-white;
	margin: 10px;
	max-width: 300px;
}

div.card-body {
	margin-bottom: 1rem;
}

div.card-body-btns {
	display: flex;
	justify-content: space-between;
	color: $not-white;

	a {
		box-shadow: 2px 2px $sudbury-green-btn-shadow;
		position: relative;
	}
}

header {
	margin-bottom: 1rem;
	height: $header-height;
	width: 100vw;
	nav {
		color: $sudbury-green-dark;
		background-color: $navy;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		top: 0;
		margin-bottom: 1em;
	}
}

nav.smart-scroll {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

nav.scrolled-down {
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;
}

nav.scrolled-up {
	transform: translateY(0);
	transition: all 0.3s ease-in-out;
}

.container {
	display: flex;
	justify-content: space-evenly;
}

div.moreContent {
	display: flex;
	align-items: center;
	justify-self: center;
	margin: 0.5rem 0 0 0;

	p {
		margin: 0 0.25rem 0 0;
		color: $sudbury-green-dark;
	}

	i.fas.fa-angle-down {
		color: $navy;
	}
}

footer {
	background-color: $navy;
	position: absolute;
	bottom: 1;
	width: 100vw;

	a:hover {
		color: $newton-blue-light;
	}

	div#footerLogoContainer {
		display: flex;
		padding: 0.5em 1em;
		justify-content: center;
		align-items: center;

		p {
			font-size: 1rem;
			color: $sudbury-green-light;
			margin: 0;
			font-weight: normal;
		}
	}

	nav#footerNav {
		padding-left: 1rem;
		p {
			color: $newton-blue-light;
			font-weight: bold;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				color: $not-white;
			}
		}
	}

	div#footerLinks {
		padding-left: 1rem;
		p {
			color: $newton-blue-light;
			font-weight: bold;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				color: $not-white;
			}
		}
	}
}

.btn.btn-primary {
	background-color: $newton-blue;
	border: none;
	box-shadow: 1px 1px $sudbury-green-btn-shadow;
	max-width: fit-content;
	font-weight: bold;
}

.navbar {
	padding: 0;
	width: 100vw;
}

#navbarDropdown {
	// color: $navy;
	color: red;
}

.dropdown-menu {
	background-color: $newton-blue;
	text-align: center;
	color: $not-white;
	font-size: 1.5rem;
	right: 0;
}

div#dropdownContainer {
	max-width: 100px;
	width: fit-content;
	position: fixed;

	ul#dropdownMenu {
		list-style: none;
		flex-direction: column;
		align-items: flex-start;
		background-color: $newton-blue;
		color: $not-white;
		top: 100%;
		right: 0;
		padding: 1em;
		margin: $header-height 0 0 0;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		display: none;
		position: fixed;
		border-radius: 0 0 0 15px;

		li.hamburgerItem {
			padding: 0.25em 0 0 0;
			margin: 0;
			font-weight: bold;

			a {
				text-decoration: none;
			}

			a:hover {
				color: $not-white;
			}
		}

		li.hamburgerItem:last-of-type {
			padding-bottom: 0;
		}
	}
}

div#hamburgerContainer {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin: 0.5em 0.5em 0 0;
}

i.fas.fa-angle-right,
i.fas.fa-angle-left {
	color: #567d9f;
	opacity: 0.5;
}

img.bitmoji {
	width: 40px;
	height: 40px;
}

// bouncing arrow animation example found here https://codepen.io/bewley/pen/revRQv
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
