:root {
	font-size: 17px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	box-sizing: border-box;
}

$font-primary: #163950;
$sudbury-green-btn-shadow: rgba(119, 187, 177, 0.5);
$not-white: #f5f5f5;
$navy: #22577a;
$newton-blue: #567d9f;
$newton-blue-light: #7ba5c9;
$sudbury-green: #77bbb1;
$header-height: auto;

body {
	width: 100vw;
	padding: 0;
	margin: 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: inherit;
}

main {
	display: grid;
	grid-template-areas:
		"about"
		"projects"
		"blogs"
		"contact";
	margin: 5%;
	justify-content: center;
	word-wrap: break-word;
	justify-self: center;

	.hidden {
		display: none !important;
		transition: display 3000ms;
		transition-timing-function: ease-in-out;
	}

	.visible {
		display: flex;
		transition: display 3000ms;
		transition-timing-function: ease-in-out;
	}

	p.techStack {
		color: $sudbury-green;
		font-style: italic;
	}

	i#scrollArrow {
		position: fixed;
		bottom: 5px;
		right: 1px;
		color: $sudbury-green;
		font-size: 0.8rem;
	}

	hr.gray {
		align-self: center;
		width: 90vw;
		border-top: 1px dashed $not-white;
		margin: 1rem auto;
	}

	hr.green {
		align-self: center;
		width: 80vw;
		border-top: 1px dashed $sudbury-green-btn-shadow;
		margin: 1rem auto;
	}

	article#aboutContainer {
		grid-area: about;
		display: flex;
		flex-direction: column;
		line-height: 1.25rem;
		width: 99%;

		div#technologies {
			display: grid;
			grid-template-areas:
				"header header header header"
				"top top top top"
				"middle middle middle middle"
				"bottom bottom bottom bottom";
			align-self: center;
			width: fit-content;
			grid-gap: 0.1rem;
			// margin-left: -2%;

			h3 {
				font-size: 1.25rem;
				grid-area: header;
				justify-self: center;
				font-style: normal;
				margin-bottom: 1rem;
			}

			img {
				width: 1.3rem;
			}

			svg {
				width: 1.3rem;
				height: 1.3rem;
			}

			i {
				font-size: 1.25rem;
			}

			div.techLogo.js {
				grid-area: bottom;
				grid-column: 3;
			}

			div.techLogo.sass {
				grid-area: bottom;
				grid-column: 2;
			}

			div {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				p {
					color: $sudbury-green;
				}
			}
		}

		div.headshotContainer {
			display: flex;
			align-self: center;
			margin-bottom: 0.5rem;
			margin-top: 1rem;

			img {
				width: 150px;
				border-radius: 150%;
			}
		}

		h1 {
			font-size: 1.5rem;
			color: $navy;
		}

		h2 {
			font-weight: normal;
			font-size: 1.25rem;
			margin-bottom: 1em;

			span.headingLink {
				color: $sudbury-green;
				font-weight: bold;
			}
		}

		h3 {
			font-size: 1rem;
			color: $newton-blue;
			font-style: italic;
			font-weight: normal;
		}

		div#moreAboutMe h2 {
			font-weight: 500;
			color: $newton-blue;
			text-align: center;
		}

		div#socialMediaIcons {
			align-self: center;
			display: flex;
			justify-content: space-evenly;
			width: 200px;
			i {
				color: $newton-blue;
				font-size: 2rem;
			}
		}
	}

	article#projectsContainer {
		grid-area: projects;
		display: grid;
		grid-gap: 1rem;
	}

	h2.sectionHeading {
		color: $newton-blue;
		font-size: 1.5rem;
	}

	article#blogsContainer {
		grid-area: blogs;
		display: grid;
		flex-direction: column;
		margin-bottom: 0.5rem;
		grid-gap: 0.5rem;

		a.blogPost {
			background-color: $not-white;
			width: 95%;
			align-self: center;
			display: flex;
			justify-content: space-between;
			padding: 0.5rem;
			align-items: center;
			font-size: 1.25rem;
			border-radius: 0.5rem;
		}

		p.blogTitle {
			color: $font-primary;
			margin: 0;
		}

		div.blogTag {
			width: fit-content;
			padding: 0.25rem;
			border-radius: 15%;
			font-size: 1rem;
			color: $not-white;
		}

		.crypto {
			background-color: $sudbury-green;
		}

		.code {
			background-color: $newton-blue;
		}
	}

	article#contactContainer {
		grid-area: contact;

		p {
			color: $navy;
			font-size: 1.25rem;
			text-align: center;
			font-style: italic;
			font-weight: bold;
			padding-top: 1rem;
		}

		form {
			background-color: $not-white;
			display: flex;
			flex-direction: column;
			padding: 1rem;
			line-height: 1.5rem;
			padding-top: 0;
			padding-bottom: 0;
			border-radius: 0.5rem;
		}

		label {
			color: $sudbury-green;
			font-weight: bold;
			margin-top: 1rem;
		}

		button {
			align-self: center;
			margin: 1rem;
		}
	}
}

i.fas.fa-bars {
	color: $not-white;
	background-color: $newton-blue;
	padding: 0.5em;
	font-size: 1.5rem;
	border-radius: 5px;
	justify-self: flex-end;
	margin: 0.5em;
	height: fit-content;
}

div#headerLogoContainer {
	display: flex;
	align-items: center;
	display: flex;
	font-size: 1.5rem;
	padding: 0.5em 1em;

	p {
		margin: 0;
		font-weight: bold;
	}
}

div.card {
	color: $font-primary;
	background-color: $not-white;
}

div.card-body {
	margin-bottom: 1rem;
}

div.card-body-btns {
	display: flex;
	justify-content: space-between;
	color: $not-white;

	a {
		box-shadow: 2px 2px $sudbury-green-btn-shadow;
	}
}

header {
	margin-bottom: 1rem;
	height: $header-height;
	nav {
		color: $sudbury-green;
		background-color: $navy;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100vw;
		top: 0;
		margin-bottom: 1em;
	}
}

nav.smart-scroll {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

nav.scrolled-down {
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;
}

nav.scrolled-up {
	transform: translateY(0);
	transition: all 0.3s ease-in-out;
}

.container {
	display: flex;
	justify-content: space-evenly;
}

div.moreContent {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-self: center;
	margin: 0.5rem 0 0 0;

	p {
		margin: 0 0.25rem 0 0;
		color: $sudbury-green;
	}

	i.fas.fa-angle-down {
		color: $navy;
	}
}

footer {
	background-color: $navy;
	position: absolute;
	bottom: 1;
	width: 100vw;

	a:hover {
		color: $sudbury-green;
	}

	div#footerLogoContainer {
		display: flex;
		padding: 0.5em 1em;
		justify-content: center;
		align-items: center;

		p {
			font-size: 1rem;
			color: $sudbury-green;
			margin: 0;
			font-weight: normal;
		}
	}

	nav#footerNav {
		padding-left: 1rem;
		p {
			color: $newton-blue-light;
			font-weight: bold;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				color: $not-white;
			}
		}
	}

	div#footerLinks {
		padding-left: 1rem;
		p {
			color: $newton-blue-light;
			font-weight: bold;
		}

		ul {
			list-style: none;
			padding: 0;

			li {
				color: $not-white;
			}
		}
	}
}

.btn.btn-primary {
	background-color: $newton-blue;
	border: none;
	box-shadow: 1px 1px $sudbury-green-btn-shadow;
	max-width: fit-content;
	font-weight: bold;
}

.navbar {
	padding: 0;
	width: 100vw;
}

div#dropdownContainer {
	max-width: 100px;
	width: fit-content;
	position: fixed;

	ul#dropdownMenu {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: $newton-blue;
		color: $not-white;
		transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		top: 100%;
		right: 0;
		padding: 1em;
		margin: $header-height 0 0 0;
		display: none;
		position: fixed;
		border-radius: 0 0 0 15px;

		li.hamburgerItem {
			padding: 0.25em 0 0 0;
			margin: 0;
			font-weight: bold;

			a:hover {
				color: $sudbury-green;
			}
		}

		li.hamburgerItem:last-of-type {
			padding-bottom: 0;
		}
	}
}

header nav ul li:last-of-type {
	padding-bottom: 0;
}

div#hamburgerContainer {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin: 0.5em 0.5em 0 0;
}

i.fas.fa-angle-right,
i.fas.fa-angle-left {
	color: #567d9f;
	opacity: 0.5;
}

img.bitmoji {
	width: 40px;
	height: 40px;
}

// bouncing arrow animation example found here https://codepen.io/bewley/pen/revRQv
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
