$font-primary: #163950;
$sudbury-green-btn-shadow: rgba(119, 187, 177, 0.5);
$not-white: #f5f5f5;
$navy: #22577a;
$newton-blue: #567d9f;
$newton-blue-light: #7ba5c9;
$sudbury-green: #77bbb1;
$header-height: auto;

@media only screen and (min-width: 768px) {
    header {
        nav {
            div#hamburgerContainer {
                display: none;
            }

            div#dropdownContainer,
            ul#dropdownMenu {
                width: 450px;
                display: flex !important;
                flex-direction: row !important;
                justify-content: space-evenly;
                top: 0% !important;
                background-color: $navy !important;
            }
        }
    }

    main {
        div.moreContent {
            align-self: flex-end;
            grid-column: 1 / -1;
        }

        article#aboutContainer {
            width: 100%;
            display: grid;
            grid-template-columns: 500px 1fr;
            grid-template-areas:
                "heading headshot"
                "moreAbout tech";
            grid-gap: 5px;

            .headshotContainer {
                grid-area: headshot;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;

                img {
                    width: 50% !important;
                    min-width: 250px;
                    margin-bottom: 2rem;
                }
            }

            hr.gray {
                grid-area: heading;
                align-self: flex-end;
                width: 100%;
            }

            hr.green {
                grid-row: -1;
                grid-column: 1 / span 2;
                align-self: flex-end;
                margin: 5px;
                justify-self: center;
            }

            #aboutMe {
                display: flex;
                flex-direction: column;
                grid-area: heading;
                justify-content: center;

                h1,
                h2 {
                    line-height: 2.5rem;
                    width: 100%;
                    justify-self: center;
                    align-items: center;
                }
            }

            #moreAboutMe {
                grid-area: moreAbout;
                justify-content: center;
                align-items: center;
            }

            #socialMediaIcons {
                grid-area: headshot;
                align-self: flex-end !important;
                justify-self: center;
            }

            #technologies {
                grid-area: tech;
                grid-template-areas:
                    "header header header"
                    "first first first"
                    "second second second"
                    "third third third"
                    "fourth fourth fourth" !important;
                justify-self: center;
                width: 100%;

                div.techLogo.sass {
                    grid-row: 4 !important;
                }

                div.techLogo.js {
                    grid-column: 2 !important;
                }
            }
        }

        article#projectsContainer {
            justify-content: space-around;

            .cardsContainer {
                display: flex;
                grid-row: 3;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }

            h2 {
                width: fit-content;
                justify-self: flex-start;
            }

            div.card {
                max-width: 300px;
            }

            #moreProjects {
                grid-row: 3;
            }

            hr.green {
                justify-content: center;
            }
        }
    }
}
