$font-primary: #163950;
$sudbury-green-btn-shadow: rgba(119, 187, 177, 0.5);
$not-white: #f5f5f5;
$navy: #22577a;
$newton-blue: #567d9f;
$newton-blue-light: #7ba5c9;
$sudbury-green: #77bbb1;
$header-height: auto;

@media only screen and (min-width: 768px) {
	header {
		nav {
			#navbarDropdown {
				display: none;
			}

			div#hamburgerContainer {
				display: none;
			}

			div#dropdownContainer,
			ul#dropdownMenu {
				width: 450px;
				display: flex !important;
				flex-direction: row !important;
				justify-content: space-evenly;
				top: 0% !important;
				background-color: $navy !important;
			}
		}
	}

	main {
		width: 90%;
		margin: 0 auto;

		div.moreContent {
			align-self: flex-end;
			grid-column: 1 / -1;
		}

		article#aboutContainer {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: 2fr 1fr;
			grid-template-areas:
				"headshot heading"
				"tech tech";
			grid-gap: 1rem;

			hr.gray {
				grid-column: 1 / span 2;
				grid-row: 1;
				align-self: flex-end;
				margin: 0 auto;
			}

			.headshotContainer {
				grid-area: headshot;
				justify-content: space-between;
				align-items: center;
				flex-direction: column;

				img {
					width: 50% !important;
					min-width: 300px;
					margin-bottom: 2rem;
				}
			}

			hr.green {
				grid-row: -1;
				grid-column: 1 / span 2;
				align-self: flex-end;
				margin: 5px;
				justify-self: center;
			}

			#aboutMe {
				display: flex;
				flex-direction: column;
				grid-area: heading;
				justify-content: center;

				h1,
				h2 {
					line-height: 2.5rem;
					width: 100%;
					justify-self: center;
					align-items: center;
				}
			}

			#moreAboutMe {
				grid-area: moreAbout;
				justify-content: center;
				align-items: center;
			}

			#socialMediaIcons {
				grid-area: headshot;
				width: 400px !important;
				justify-self: center;
				
				i {
					font-size: 2.5rem !important;
				}
			}

			#technologies {
				grid-area: tech;
				display: flex;
				justify-self: center;
				width: 100%;
				color: black;

				i {
					font-size: 2rem !important;
				}

				p {
					font-size: 1rem !important;
				}

				div.techLogo {
					img {
						width: 2rem;
					}
				}
			}
		}

		article#projectsContainer {
			justify-content: space-around;

			.cardsContainer {
				display: flex;
				grid-row: 3;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}

			h2 {
				width: fit-content;
				justify-self: flex-start;
			}

			div.card {
				max-width: 400px;
			}

			#moreProjects {
				grid-row: 3;
			}

			hr.green {
				justify-content: center;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	:root {
		font-size: 19px;
	}

	div.card {
		max-width: 450px;
	}
}
